@namespace url("http://www.w3.org/1999/xhtml");
@charset "UTF-8";
/* CSS Document */

*{
  font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar
{
	display: none;
}

body{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;                   /* firefox         */
    image-rendering: -o-crisp-edges;                     /* opera           */
    image-rendering: -webkit-optimize-contrast;          /* chrome & safari */
    image-rendering: pixelated;                          /* chrome          */
    image-rendering: optimize-contrast;                  /* CSS3 proposed   */
    -ms-interpolation-mode: nearest-neighbor;            /* IE8+            */
    
}

body{
    background-color: #2e2027;
    margin: auto;
    text-align: center;
    color: #bcaabc;
    font-family:"Mono", "Consolas", "MS PGothic", sans-serif;
    }    

    
p {
    margin: 13px 20px 13px 20px;
    font-size:21px;
    color: #bcaabc;
}

h1 {
    color: white;
    font-size:60px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px #bcaabc;
    animation: blinker 1s linear infinite;
}

h2 {
    margin-bottom: 5px;
    font-size:36px;
    margin-top: 7px;
    color:white;
}

.border /*title for main content and side panels*/ {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#3c3447;
    margin: 0px;
    border: 2px solid #3c3447;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis "";
}

.box {
    width: 80%;
    border :#3c3447 solid 4px;
    padding: 0px;
    margin: auto;
    margin-top:10px;
}

a {
    font-size:29px;
    color: #bcfdcf;
    text-decoration:none;
    }
    
a:visited {
    color:#bcfdcf;
    }
    
a:hover {
    color:#d2738a;
    opacity:85%;
    }

a{transition: all 0.4s ease;}

.blink{
  height:30px;
  width:auto;
}

.fav{
  margin-top:43px;
  margin-bottom:30px;
  height:100px;
  width:auto;
}

@keyframes blinker {
  50% {
    text-shadow: 0 0 0;
  }


